.skid-dice {
  width:120px;
  height: 120px;
  background-color: #cccccc;
  display: inline-block;
  margin: 15px;
  border: 2px solid #aaa;
  border-radius: 10px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.slide {
  background-image: url('./images/slide.svg')
}

.spin {
  background-image: url('./images/spin.svg')
}

.hazard {
  background-image: url('./images/hazard.svg')
}

.shift {
  background-image: url('./images/shift.svg')
}

.skid-dice--inner {
  width: 100%;
  height: 100%;
}

.skid-dice--inner-selected {
  background-color: #aa0000;
  opacity: 0.1;
}

.skid-dice--inner-rerolled {
  background-color: #00ffaa;
  opacity: 0.1;
}

