.App {
  text-align: center;
}

.roll-button {
  cursor: pointer;
  background-color: #eee;
  border: 2px solid #aaa;
  color: #333;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0 6px;
}

